doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='/stylesheets/layout-nav.css')
    link(rel='stylesheet' href='/stylesheets/register.css')
    link(rel='stylesheet' href='/stylesheets/song.css')
    link(rel='stylesheet' href='/stylesheets/tape1.css')
    link(rel='stylesheet' href='/stylesheets/tape2.css')
    title MixTape - #{title}
  body
    nav(class='navigation-bar')
      img(src='/images/mixtapelogo.jpeg' alt='Mixtape-logo')
      div(class='home-playlist-bar')
      if locals.authenticated
        div(class='nav-btn')
          a(href='/home' class='home') HOME
          a(href=`/users/${user.id}/tapes` class='playlist') PLAYLIST
        div(class='info-btn')
          span(class='login-status') Welcome #{user.username}!
          form(class='logout-form' action='/logout' method='post')
            button(class='logout-btn' type='submit') Logout
      else
        span(class='logout-status')
          a(class='active-btn btn-left' href='/') Login
          a(class='active-btn btn-right' href='/register') Register
    div(class='container')
      h2(class='information') #{title}
      block content
