//- doctype html
//- html
//-   head
//-     meta(charset='utf-8')
//-     meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
//-     link(rel='stylesheet' href='/stylesheets/login.css')
//-     title MixTape - #{title}
//-   body
//-     nav(class='navigation-bar')
//-       a(class='navbar-brand' href='/') MixTape 
//-       div(class='')
//-         ul(class='navbar-nav')
//-         if locals.authenticated
//-           span(class='login-status') Welcome #{user.username}!
//-           form(class='logout-form' action='/logout' method='post')
//-             button(class='logout-btn' type='submit') Logout
//-         else
//-           span(class='logout-status')
//-             a(class='active' href='/login') Login
//-             a(class='active' href='/register') Register
//-     div(class='container')
//-       h2(class='information') #{title}
//-       block content


doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='/stylesheets/login.css')
    title MixTape - #{title}
  body
    nav(class='navigation-bar')
      img(src='/images/mixtapelogo.jpeg' alt='Mixtape-logo')
      div(class='home-playlist-bar')
      if locals.authenticated
        div(class='nav-btn')
          a(href='/home' class='home') HOME
          a(href='/users/:id/playlist' class='playlist') PLAYLIST
        div(class='info-btn')
          span(class='login-status') Welcome #{user.username}!
          form(class='logout-form' action='/logout' method='post')
            button(class='logout-btn' type='submit') Logout
      else
        span(class='logout-status')
          a(class='active-btn btn-left' href='/login') Login
          a(class='active-btn btn-right' href='/register') Register
    div(class='container')
      h2(class='information') #{title}
      block content