extends layout.pug

include utils.pug

block content
    div(class='container')
        div(class='heading-section')
            h2 Find Music and Save Music
        div(class='row')
            div(class='col-md-6')
                div(class='songImage')
                    img(src=`${song.songImg}`)
            div(class='col-md-6')
                div(class='song-detail')
                    div(class='song-info')
                        div(class='song-name') #{song.name}
                        div(class='rating')
                            div(class='rate')
                                label(for='star5') 5 stars
                                input(type='radio' name='rate' value='5' checked)
                                label(for='star4') 4 stars
                                input(type='radio' name='rate' value='4' checked)
                                label(for='star3') 3 stars
                                input(type='radio' name='rate' value='3' checked)
                                label(for='star2') 2 stars
                                input(type='radio' name='rate' value='2' checked)
                                label(for='star1') 1 stars
                                input(type='radio' name='rate' value='1' checked)
                        div(class='artistname') #{song.artistName}
                        div Album: #{song.albumName}
                        div Release Date: #{song.releaseDate}
                        div Listen Count: #{song.listenCount}
                div(class='playlist-btn')
                    form(action=`/songs/${song.id}` method='post' class='display-flex')
                        label(for='add')
                            select(name='tapeId' class='playlist-select')
                                each tape in tapes
                                    option(value=`${tape.id}`)=tape.tapeName
                        button(class='add-btn' type='submit') Add to Playlist
        div(class='play-btn')
            iframe(width="1000" height="500" src=`${song.youtubeURL}` frameborder="0" allowfullscreen)
