extends layout.pug

include utils.pug

block content
    div(class='container')
        div(class='heading-section')
            h2 Find Music and Save Music
        div(class='row')
            div
                div(class='songImage')
                    img(class='songImageDisplay' src=`${song.songImg}`)
            div
                div(class='song-detail')
                    div(class='song-info')
                        div(class='song-name') #{song.name}
                        div(class='artistname') #{song.artistName}
                        div(class='albumname') Album: #{song.albumName}
                        div(class='releasedata') Release Date: #{song.releaseDate}
                        div(class='listencount') Listen Count: #{song.listenCount}
                div(class='playlist-btn')
                    form(action=`/songs/${song.id}` method='post' class='display-flex')
                        label(for='add')
                            select(name='tapeId' class='playlist-select')
                                each tape in tapes
                                    option(value=`${tape.id}`)=tape.tapeName
                        button(class='add-btn' type='submit') Add to Playlist
    div(class='play-btn')
        iframe(width="1000" height="500" src=`${song.youtubeURL}` frameborder="0" allowfullscreen)
