extends nav
include utils.pug 
append head
  link(rel='stylesheet' href='/stylesheets/tapes-1.css')
block content
     section
        .section-heading
          .grid-container
            .grid-x
              .cell
                h2 My Tapes
        .grid-container
          .grid-x.grid-padding-x
            .cell 
                form(action=`/users/${userId}/tapes` method='post' class='newtapes')
                    h3 Create a new tape:
                    input(type='hidden' name='_csrf' value=csrfToken)
                    input(type='text' class='tapeName' value=tapeName name='tapeName')
                    div(class='buttonbox')
                        button(type='submit' class='btn') Create
                        button(href=`/users/${userId}/tapes` class='btn') Cancel
            .dropdown
                button.dropbtn Select a Tape
                    .dropdown-content
                        each tape in tapes
                            a(href=`/users/${userId}/tapes/${tape.id}`)=tape.tapeName         
            //- div(class='tapelist')
            //-     each tape in tapes
            //-         a(class='button-30' href=`/users/${userId}/tapes/${tape.id}`)=tape.tapeName
                //- form(action=`/users/${user.id}/tapes/${tape.id}/${playlist.Tape.id}` method='post')
                //-     button(class="delete" type='submit') Delete Song